@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-g3-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  body{
    margin: 0;
    padding: 0;
  }
/* shard style  */
main > section{
    margin-top: 130px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
.text-primary{
    color: #FF900E;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}
.display-flex{
    display: flex;
}
.bg-light{
    background-color: rgba(255, 143, 14, 0.117);
}
/* drak 2 */
.text-gray{
 color: #424242;
}
.text-light-gray{
    color: #727272;
}
/* header style  */



/* navbar related style  */

.navbar{
    justify-content: space-between;
    align-items: center;

}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-weight: 700;
    font-size: 2rem;
}
.nav-links{}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
/* banner related sytle  */
.banner{}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{}
.banner-img{
    width: 100%;
}
/* teams & fetures related style  */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-feture {
    margin-left: 130px;
    max-width: 560px;
}
.feture-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#quick-list{
    font-weight: 500;

}
.feture-description{}











/*----------------------------------- Respondive design  */
/* mobile resonsive */
@media screen and (max-width:576px) {
    .navbar, .nav-links, .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);

    }
    .our-feture{
        margin-left: 20px;
    }
    
}
/* Tablet responsive */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .our-feture{
        margin: 50px auto;
    }
}