@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-g3-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  body{
    margin: 0;
    padding: 0;
  }
/* shard style  */
main > section{
    margin-top: 130px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
.text-primary{
    color: #FF900E;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.display-flex{
    display: flex;
}
.bg-light{
    background-color: rgba(255, 143, 14, 0.117);
}
/* drak 2 */
.text-gray{
 color: #424242;
}
.text-light-gray{
    color: #727272;
}
/* header style  */



/* navbar related style  */

.navbar{
    justify-content: space-between;
    align-items: center;

}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-weight: 700;
    font-size: 2rem;
}
.nav-links{}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
/* banner related sytle  */
.banner{}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{}
.banner-img{
    width: 100%;
}
/* teams & fetures related style  */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-feture {
    margin-left: 130px;
    max-width: 560px;
}

#quick-list{
    font-weight: 500;

}
.feture-description{}
/* some fect related style  */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    max-width: 1440px;
}
.fact-description{
    max-width: 540px;
}
.fact-card{
    height: 240px;
    width: 240px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

/* Our sponcer related style  */

.sponsore-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsore-companis{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsore-companis img{
    filter: grayscale(100%);
}
/* fetures section related style  */
.fetures{
    gap: 140px;
}

#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
.featured-architect img{
    width: 100%;
}
#exparience-badge {
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -130px;
}
#exparience-year{
    font-size: 4rem;
    font-weight: 700;
}






/*----------------------------------- Respondive design  */
/* mobile resonsive */
@media screen and (max-width:576px) {
    .navbar, .nav-links, .teams, .fetures{
        flex-direction: column;
    }
    .team-img-container, .facts-container,   .sponsore-companis{
        grid-template-columns:  1fr;

    }
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .sponsore-companis{
        justify-items: center;
        gap: 50px;
    }
    .our-feture{
        margin-left: 20px;
    }
    #exparience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    
}
/* Tablet responsive */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams, .fetures{
        flex-direction: column;
    }
    #exparience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    .facts-container,   .sponsore-companis {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
    .our-feture{
        margin: 50px auto;
    }
}